# Kafka settings

kafka_host="some_kafka_host:9092"
kafka_topic1="railway_data_topic"
other_kafka_settings="others"

date_format="yyyy-MM-dd"

hdfs_raw_zone="/path/to/HDFS/raw_zone"
hdfs_processed_zone="/path/to/HDFS/processed_zone"
hdfs_metadata_table="/path/to/metadata_table"
hdfs_checkpoint="/path/to/checkpoint"

